<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    英雄列表：
    <ul>
        {{ each heros }}
            <div>
                {{ $value.name }} <br/>
                <img src="{{ $value.src }}" />
            </div>
        {{/each}}
    </ul>

    <form action="/add" method="POST" enctype="multipart/form-data">
        网名：<input type="text" name="nickname">
        头像：<input type="file" name="pic">
        <button>添加</button>
    </form>
</body>
</html>