<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hello world</title>
</head>
<body>
    <h1>添加信息后可查看附近的人</h1>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">姓名：</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="pic">图片：</label>
            <input type="file" name="pic">
        </div>
        <div>
            <label for="sp">经纬度</label>
            <input type="text" name="sp">
        </div>
        <button>提交</button>
    </form>
</body>
</html>